﻿<md-content layout="column"   layout-align="none">     
    <div layout="column" ng-controller="ftpCtrl">
    <md-toolbar layout="column"><span flex="flex"></span>
      <div class="md-toolbar-tools">
        
          <div ng-hide="toggleSearch" class="md-toolbar-item md-breadcrumb"><span ng-click="toggleSearch = !toggleSearch">/</span></div><span flex="flex" ng-hide="toggleSearch"></span>
          <md-input-container flex="flex" style="padding-left:88px;" ng-show="toggleSearch">
            <input type="text" ng-model="search"/>
          </md-input-container>
          <div layout="row" class="md-toolbar-item md-tools"><a href="#" ng-click="toggleSearch = !toggleSearch" class="md-button md-default-theme"><i class="ion-android-search"></i></a></div>
        
      </div>
    </md-toolbar>
        <md-progress-linear md-mode="query" ng-show="true"></md-progress-linear>
    <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
      <md-table headers="headers" content="content" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count"></md-table>
    </md-content>
  </div>
</md-content>

