﻿<!--layout="row"    layout-align="start none"-->
<div ng-controller="ftpMainCtrl as mainCtrl" 
     layout="row" layout-align="none"
     style="height:100%;"
     ng-cloak>
    <ng-include src="'/views/FTP/listDevices.html'"  layout="row" layout-align="none"></ng-include>   
    <div  layout="column" layout-align="none" flex ng-cloak>
    <md-content layout="column" layout-align="none"  flex>
        <md-tabs md-selected="selectedIndex" layout="column" layout-align="none" md-border-bottom md-autoselect flex>
            <md-tab ng-repeat="tab in FTPTabs" 
                    ng-disabled="tab.disabled"
                    label="{{tab.device.IP }}({{tab.device.FTP_USER}})" 
                    layout="row" layout-align="none"
                    flex>    
                        <angular-filemanager configmodel="tab.device" flex></angular-filemanager>              
                    <!--<ng-include src="'/views/FTP/ftpMain.html'" ></ng-include>-->                 
            </md-tab>          
        </md-tabs>
    </md-content>
</div>
    
</div>