﻿<div ng-controller="ftpTabsCtrl"  layout="column" layout-align="none" flex ng-cloak>
    <md-content layout="column" layout-align="none"  flex>
        <md-tabs md-selected="selectedIndex" layout="column" layout-align="none" md-border-bottom md-autoselect flex>
            <md-tab ng-repeat="tab in tabs" 
                    ng-disabled="tab.disabled"
                    label="{{tab.title}}" 
                    layout="row" layout-align="none"
                    flex>               
                    <!--<ng-include src="'/views/FTP/ftpMain.html'" ></ng-include>-->                 
            </md-tab>
           
        </md-tabs>
    </md-content>
   
</div>