﻿
<ng-include src="'/views/FTP/tabletTemplate.html'"></ng-include>
<div   layout="column" flex>
    <md-card ng-include="'/views/FTP/ftpMain.html'" ng-controller="ftpCtrl"></md-card>
</div>
    <!--<ng-include src="'/views/FTP/ftpMain.html'"  layout="column" layout-align="none" flex></ng-include>-->


