﻿<div ng-controller="monitoringGroupCtrl" class="monitoringTable"  layout-margin >
  <md-toolbar class="md-primary">
        <h2 class="md-toolbar-tools">
          <span flex>Monitoring Group</span>
          <md-button >
            Day
          </md-button>
          <md-button style="background-color: rgba(158,158,158,0.2);">
            Week
          </md-button>
          <md-button >
            Month
          </md-button>
          <md-button >
            Year
          </md-button>
        </h2>     
  </md-toolbar>           
      <md-card flex >                
         <md-card-content layout="row">
            <nvd3 options="options" data="data" flex></nvd3>
                <md-list flex="25">
                   <md-list-item class="md-3-line" ng-click="alert('Not alive in demo')">
                        <div class="md-avatar" style="text-align: center;padding-top: 12px;">
                            <i class="fa fa-times-circle" style="font-size: 28px;color:rgb(255,87,34);" aria-hidden="true"></i>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>TOP DEVICE OFFLINE</h3>
                            <h4>สาขาจตุจักร(สนจ.กรุงเทพมหานคร-ภาคกลาง)</h4>
                            <p>15 times</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-click="alert('Not alive in demo')">
                        <div class="md-avatar" style="text-align: center;padding-top: 12px;">
                            <i class="fa fa-star" style="font-size: 28px;color:#77C159;" aria-hidden="true"></i>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>TOP DEVICE USED</h3>
                            <h4>สาขาสามง่าม(สนจ.พิจิตร-ภาคเหนือตอนล่าง)</h4>
                            <p>80 times</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-click="alert('Not alive in demo')">
                        <div class="md-avatar" style="text-align: center;padding-top: 12px;">
                            <i class="fa fa-wrench"  style="font-size: 28px;color:rgb(255, 216, 0)" aria-hidden="true"></i>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>TOP DEVICE JAM</h3>
                            <h4>สาขาสามง่าม(สนจ.พิจิตร-ภาคเหนือตอนล่าง)</h4>
                            <p> 5 times</p>
                        </div>
                    </md-list-item>
                </md-list>
            
          </md-card-content>
       </md-card>
  <div  layout-gt-xs="row" class="groupBar" layout-align="center center">         
    
      <md-button class="group"   flex >  
         <div class="groupBody" layout="column" layout-align="center none">        
           <div layout="row" >                  
               <i class="fa fa-check-circle" aria-hidden="true" flex="40"></i>                 
               <div class="information" layout="column" flex>
                   <div class="number">1189</div>
                   <div class="groupName" >Online </div>
               </div>
           </div>  
           <md-progress-linear md-mode="determinate" value="90" flex></md-progress-linear>
         </div>  

      </md-button>
      <md-button class="group" flex >            
         <div class="groupBody" layout="column" layout-align="center none">   
           <div layout="row" >                  
               <i class="fa fa-times-circle" style="color:rgb(255,87,34);" aria-hidden="true" flex="40"></i>                 
               <div class="information" layout="column" flex>
                   <div class="number">15</div>
                   <div class="groupName" >Offline </div>
               </div>
           </div>  
           <md-progress-linear md-mode="determinate" value="2" flex></md-progress-linear>
          </div>
      </md-button>
      <md-button class="group" flex >            
         <div class="groupBody" layout="column" layout-align="center none">   
           <div layout="row" >                  
               <i class="fa fa-exchange" style="color:rgb(52, 255, 249);" aria-hidden="true" flex="40"></i>                 
               <div class="information" layout="column" flex>
                   <div class="number">15</div>
                   <div class="groupName" >Client time  </div>
               </div>
           </div>  
           <md-progress-linear md-mode="determinate" value="2" flex></md-progress-linear>
         </div>
      </md-button>     
      <md-button class="group"  flex >    
             <div class="groupBody" >           
           <div layout="row" >                  
               <i class="fa fa-server" style="color:rgb(118, 134, 177);" aria-hidden="true" flex="40"></i>                 
               <div class="information" layout="column" flex>
                   <div class="number">1204</div>
                   <div class="groupName" >Server time  </div>
               </div>
           </div>  
           <md-progress-linear md-mode="determinate" value="100" flex></md-progress-linear>
                 </div>
      </md-button>  
      <md-button class="group"  flex >    
        <div class="groupBody" layout="column" layout-align="center none">          
           <div layout="row" >                  
               <i class="fa fa-clock-o" style="color:rgb(123, 234, 200);" aria-hidden="true" flex="40"></i>                 
               <div class="information" layout="column" flex>
                   <div class="number">60</div>
                   <div class="groupName" >L time  </div>
               </div>
           </div>  
           <md-progress-linear md-mode="determinate" value="6" flex></md-progress-linear>
         </div>
      </md-button>  
      <md-button class="group"  flex >    
            <div class="groupBody" layout="column" layout-align="center none">          
           <div layout="row" >                  
               <i class="fa fa-arrow-circle-down" style="color:rgb(89, 127, 232);" aria-hidden="true" flex="40"></i>                 
               <div class="information" layout="column" flex>
                   <div class="number">1204</div>
                   <div class="groupName" >Off+(C+S)time</div>
               </div>
           </div>  
           <md-progress-linear md-mode="determinate" value="100" flex></md-progress-linear>
                </div>
      </md-button>    
       <div layout="column"   flex="10">
            
           <md-button class="md-raised md-primary" style=" margin-bottom: 1px;margin-top: 0px;margin-left: 5px;margin-right: 5px;" flex>  
               Total 1200
           </md-button>
           <md-button class="md-raised md-warn" style="margin-bottom: 0px;margin-top: 1px;margin-left: 5px;margin-right: 5px;" flex>  
               Refresh
           </md-button>
        </div>
  </div>
    <md-card style="margin:0px">
            <md-subheader>Filter does not support on demo</md-subheader>

            <md-input-container style="margin:15px;">
                <label>Search</label>
                <input type="text" ng-model="filterName">
            </md-input-container>

            <div ng-hide="true">
                {{(filteredItems = (nutritionList | filter: filterName))}}
            </div>
        </md-card>
  <mdt-table
        paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50,100,150,200]}"    
        mdt-row-paginator="paginatorCallback(page, pageSize)"
        mdt-row-paginator-error-message="Error happened during loading nutritions."
        mdt-row="{
            'table-row-id-key': 'IP_ADDRESS',
            'column-keys': [
                'IP_ADDRESS',
                'STATUS',
                'COM_ID',
                'BRANCH_CODE',
                'BRANCH_NAME',
                'GROUP_DESCRIPTION',
                'M_GROUP_DESCRIPTION',
                'ERR_CODE',
                'SVR_TIME_STAMP',
                'SVC_TIME_STAMP',
                'SVC_TIME_STAMP',
                'M_GROUP_DESCRIPTION'
            ],
        }">
    <mdt-header-row>     
      <mdt-column align-rule="right">IP ADDRESS</mdt-column>
      <mdt-column align-rule="right">STATUS</mdt-column>
      <mdt-column align-rule="right">COM ID</mdt-column>
      <mdt-column align-rule="right">BRANCH</mdt-column>
      <mdt-column align-rule="right">BRANCH NAME</mdt-column>
      <mdt-column align-rule="right">GROUP</mdt-column>
      <mdt-column align-rule="right">MGROUP</mdt-column>
      <mdt-column align-rule="right">CODE</mdt-column>
      <mdt-column align-rule="right">CTIMESTAMP</mdt-column>
      <mdt-column align-rule="right">STIMESTAMP</mdt-column>
      <mdt-column align-rule="right">LTIMESTAMP</mdt-column>
      <mdt-column align-rule="right">DESCRIPTION</mdt-column>
    </mdt-header-row>
  
  </mdt-table>
</div>