<div class="virtualization" layout="column" layout-align="none" style="padding:5px;">
   <div  layout="row"   layout-align="center center">
       <div class="filterMenu" layout="row" layout-margin flex>
           <div flex> 
               <div><i class="fa fa-list-ul" aria-hidden="true"></i> Meter</div>
               <md-select ng-model="selectedVegetables"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           placeholder="Search for a vegetable.."
                           class="demo-header-searchbox _md-text">
                  </md-select-header>
                  <md-optgroup label="vegetables">
                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                      filter:searchTerm">{{vegetable}}</md-option>
                  </md-optgroup>
                </md-select>
           </div>
       </div>
       <div class="filterMenu" layout="row" layout-margin flex>
          <div flex>
           <div>
               <i class="fa fa-indent" aria-hidden="true"></i> Fields</div>
               <md-select ng-model="selectedVegetables"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           placeholder="Search for a vegetable.."
                           class="demo-header-searchbox _md-text">
                  </md-select-header>
                  <md-optgroup label="vegetables">
                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                      filter:searchTerm">{{vegetable}}</md-option>
                  </md-optgroup>
                </md-select>
          </div>
       </div>
       <div class="filterMenu" layout="row" layout-margin flex>
           <div flex>
               <div><i class="fa fa-calendar" aria-hidden="true"></i> Dates</div>
               <md-select ng-model="selectedVegetables"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           placeholder="Search for a vegetable.."
                           class="demo-header-searchbox _md-text">
                  </md-select-header>
                  <md-optgroup label="vegetables">
                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                      filter:searchTerm">{{vegetable}}</md-option>
                  </md-optgroup>
                </md-select>
          </div>
           
       </div>
       <div class="filterMenu" layout="row" layout-margin flex>
            <div flex>
               <div><i class="fa fa-clock-o" aria-hidden="true"></i> Resolution</div>
               <md-select ng-model="selectedVegetables"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           placeholder="Search for a vegetable.."
                           class="demo-header-searchbox _md-text">
                  </md-select-header>
                  <md-optgroup label="vegetables">
                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                      filter:searchTerm">{{vegetable}}</md-option>
                  </md-optgroup>
                </md-select>
          </div>
        </div>
       <div class="filterMenu" layout="row" layout-margin flex>
            <div flex>
               <div><i class="fa fa-object-group" aria-hidden="true"></i> Type</div>
               <md-select ng-model="selectedVegetables"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           placeholder="Search for a vegetable.."
                           class="demo-header-searchbox _md-text">
                  </md-select-header>
                  <md-optgroup label="vegetables">
                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
                      filter:searchTerm">{{vegetable}}</md-option>
                  </md-optgroup>
                </md-select>
          </div>
        </div>

       <div  layout="column"  flex>
            <md-button class="md-raised md-primary">Compare</md-button>
            <md-button class="md-raised md-warn">Submit</md-button>            
        </div>
    </div>
    <nvd3 options="options" data="data"></nvd3>
</div>

    