﻿<md-dialog aria-label="" ng-cloak>
    <md-dialog-content layout="column" layout-align="stretch" style="overflow-x:hidden;">
        <div  layout="row" layout-align="stretch">
            <div class="md-toolbar-tools">
                <h4><i style="font-size: 20px;line-height: 24px; " class="fa fa-tasks"></i> Download Task</h4>
            </div>
        </div>
        <md-content>
            <div layout="row" layout-align="stretch">
                <div layout="column" layout-align="stretch">

                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Name</label>
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                        <input ng-model="task.NAME" type="text">
                        <div class="hint">Task name (required)</div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Description</label>
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                        <input ng-model="task.DESCRIPTION" type="text">
                        <div class="hint"></div>
                    </md-input-container>


                </div>
                <div layout="column" layout-align="stretch">

                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Download Target Part</label>
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                        <input ng-model="newJob.TARGETPART" type="text">
                        <div class="hint">Folder or Part file on client.</div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Download source Part</label>
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                        <input ng-model="newJob.SOURCEPART" type="text">
                        <div class="hint">Folder source on server</div>
                    </md-input-container>
                    <md-button class="md-raised" ng-click="addFile()">Add</md-button>
                    <md-list style="overflow: auto;padding: 15px; height:300px;" flex>
                        <md-list-item class="md-3-line" ng-repeat="file in uploadFileList" ng-click="">
                            <div class="md-avatar" style="text-align: center;padding-top: 12px;">
                                <i class="fa fa-download" style="font-size: 28px;" aria-hidden="true"></i>
                            </div>
                            <div class="md-list-item-text" layout="column">
                                <h3>Target on client {{file.TARGETPART}}</h3>
                                <h4>Source on server {{file.SOURCEPART}}</h4>
                                <p></p>
                            </div>
                        </md-list-item>
                    </md-list>

                </div>
                <div layout="column" layout-align="stretch">
                    <md-tabs md-dynamic-height md-border-bottom style="min-width: 400px;">
                        <md-tab label="Select By Devices">
                            <ng-include src="'/views/task/listDevice.html'" layout="row" layout-align="none" style="height:500px;" flex></ng-include>
                        </md-tab>
                        <md-tab label="Select By Group">
                            <ng-include src="'/views/task/listGroup.html'" style="height:500px;"></ng-include>
                        </md-tab>
                    </md-tabs>
                </div>
                <div layout="column" layout-align="stretch">
                    <ng-include src="'/views/task/listSelectDevice.html'" style="min-width: 300px;"></ng-include>   
                </div>
           </div>
        </md-content>
</md-dialog-content>
    <md-dialog-actions layout="column" layout-align="end none">
        <div layout="row" layout-align="space-around center">
            <md-button md-autofocus ng-click="start()">
                START
            </md-button>
            <span flex></span>
            <md-button ng-click="hide()" style="margin-right:20px;">
                CANCEL
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>