﻿<md-content>
    <div layout="row" style="padding:10px;">
        <md-input-container flex>
            <label>Search </label>
            <input type="text" style="border-right-width: 0px;margin-top: 0px;border-left-width: 0px;border-top-width: 0px;">
            <div class="hint">This function not live in demo.</div>
        </md-input-container>
        <div layout="column" layout-align="center center" style="height:94px;">
            <md-button class="md-icon-button">
                <i class="fa fa-search fa-3" style="font-size: 22px;"></i>
            </md-button>
        </div>
    </div>

</md-content>
<md-list flex  ng-init=
      'groups=[
       { GROUP_NAME: "006",GROUP_DESCRIPTION: "ภาคตะวันออก"}
      ,{ GROUP_NAME: "006-01",GROUP_DESCRIPTION: "สนจ.ฉะเชิงเทรา"}
      ,{GROUP_NAME: "000-01",GROUP_DESCRIPTION: "ชั้น 4"}     
      ]'>
    <md-subheader class="md-no-sticky">{{groups.length}} groups not suport Demo.</md-subheader>
    <md-list-item class="md-3-line" ng-repeat="group in groups" ng-click="">
       
        <div class="md-list-item-text" layout="column">
            <h3>ID {{ group.GROUP_NAME }}</h3>
            <h4>NAME {{group.GROUP_DESCRIPTION}}</h4>
            <p></p>
        </div>
    </md-list-item>

</md-list>