<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            aria-label="Show User List"
            md-is-locked-open="$mdMedia('gt-sm')"            
            flex>
    <md-content>
        <div layout="row" style="padding:10px;">
            <md-input-container flex>
                <label>Search </label>
                <input type="text" style="border-right-width: 0px;margin-top: 0px;border-left-width: 0px;border-top-width: 0px;">
                <div class="hint">This function not live in demo.</div>           
            </md-input-container>
            <div layout="column" layout-align="center center" style="height:94px;">
                <md-button class="md-icon-button">
                    <i class="fa fa-search fa-3" style="font-size: 22px;"></i>
                </md-button>
            </div>
        </div>

    </md-content>

    <md-tabs class="" md-selected="data.selectedIndex" md-align-tabs="bottom" flex>
        <md-tab ng-repeat="page in list.pushPage" flex>
            <md-tab-label>{{page.index}}</md-tab-label>
            <md-tab-body>
             <md-list style="height: 555px;" flex>
                    <md-subheader class="md-no-sticky">{{list.total}} devices for Demo.</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="device in page.devices"  ng-click="addToList(device)">
                        <div class="md-avatar"  style="text-align: center;padding-top: 12px;">
                            <i class="fa fa-desktop" style="font-size: 28px;" aria-hidden="true"></i>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>IP {{ device.IP }}({{device.FTP_USER}})</h3>
                            <h4>Description test ftp</h4>
                            <p></p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>


</md-sidenav>