﻿
  <md-list flex>
          <md-subheader class="md-no-sticky">Select devices add for task.</md-subheader>
           <md-list-item class="md-3-line" ng-repeat="device in selectDevices"  ng-click="">
               <div class="md-avatar" style="text-align: center;padding-top: 12px;">
                   <i class="fa fa-sign-in" style="font-size: 28px;" aria-hidden="true"></i>
               </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>IP {{ device.IP }}({{device.FTP_USER}})</h3>
                            <h4>Description test ftp</h4>
                            <p></p>
                        </div>
           </md-list-item>

    </md-list>