<div ng-controller="taskCtrl" class="monitoringTable taskmanagement"  layout-margin >
 <md-toolbar class="md-primary">
        <h2 class="md-toolbar-tools">
          <span flex>Task management</span>
            <md-button  ng-click="addUploadTask($event)">
                + ADD Upload
            </md-button>
            <md-button ng-click="addDownloadTask($event)">
                + ADD Download
            </md-button>
            <md-input-container style="line-height: 20px;    margin-top: 48px;" flex>
                <label>Search</label>
                <input type="text" style="border-right-width: 0px;margin-top: 0px;border-left-width: 0px;border-top-width: 0px;">
            </md-input-container>
          <div opt-kind="" ok-key="filter" >
              <md-button ok-sel="*" >
                All
              </md-button>
              <md-button ok-sel=".N,.R">
                  New
              </md-button>
              <md-button ok-sel=".P">
                Process
              </md-button>
              <md-button ok-sel=".E">
                Sucess 
              </md-button>
              <md-button ok-sel=".F">
                Fail
              </md-button>
          </div>
         <div iso-sortby-data opt-kind ok-key="sortBy">          
              <md-button  ok-sel="[name]" class='selected'  style="background-color: rgba(158,158,158,0.2); margin-left:70px">
                Name
              </md-button>          
              <md-button ok-sel="[UpdateDate]" >
                Date 
              </md-button>      
         </div>  
        </h2>     
  </md-toolbar>
  <ul id="isotopeContainer" isotope-container iso-options-subscribe="my-iso-opts" iso-method-subscribe="my-iso-method">
    <li class="{{task.status}} kindling" ng-repeat="task in taskList" isotope-item  style="list-style-type: none;min-width:300px;min-height:200px;">
       <md-card >
        <md-card-header >

             <md-card-avatar>
               <img class="md-user-avatar" src="/images/flat-avatar.png" />
             </md-card-avatar>
            
             <md-card-header-text>
               <span class="md-title">User Demo man</span>
               
               <span class="md-subhead" ng-show="task.status=='N'">New</span>
               <span class="md-subhead" ng-show="task.status=='R'">Re-run</span>
               <span class="md-subhead" ng-show="task.status=='P'">Process</span>
               <span class="md-subhead" ng-show="task.status=='E'">Success</span>
               <span class="md-subhead" ng-show="task.status=='F'">Fail</span>
            </md-card-header-text>
            
            
        </md-card-header>
        <md-card-title style="padding-top: 16px;">
              <div layout="column" layout-align="center stretch" flex>
                  <div class="md-headline">{{task.name}}</div>                    
                  <md-card-title-text>
                      <span class="md-subhead">{{task.description}}</span>
                  </md-card-title-text>                             
                  <div class="md-subhead">{{task.UpdateDate}}</div>  
                  <div class="md-subhead"  style="padding:5px;">Overview Jobs {{task.compeleteJob}}/{{task.totalJob}}</div>                  
                  <md-progress-linear md-mode="determinate" value="{{task.compeleteJob/task.totalJob*100}}"></md-progress-linear>
                  <div class="md-subhead" style="padding:5px;">Jobs Fail {{task.failJob}}</div>   
                  <md-progress-linear md-mode="determinate" value="{{task.failJob/task.totalJob*100}}"></md-progress-linear>
              </div>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">     
          <md-button class="{{task.status}}" ng-click="reRun(task)" ng-show="task.status=='F'">Re-run</md-button>
          <md-button class="{{task.status}}" ng-click="openTask($event,task)">Details</md-button>
        </md-card-actions>
      </md-card>
    </li>
  </ul>
</div>

