﻿<md-dialog aria-label="" ng-cloak>

    <md-dialog-content layout="row" layout-align="center none" style="overflow-x:hidden;" flex >
        <div layout="column" layout-align="stretch" style="min-width: 350px;">
            <md-content >
                
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Description</label>
                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                    <input ng-model="task.DESCRIPTION" type="text">
                    <div class="hint"></div>
                </md-input-container>
            </md-content>
            <md-list class="autoScroll" style="max-height:500px;">
                <md-subheader class="md-no-sticky">{{list.total}} devices for Demo.</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="job in jobs" ng-click="ShowFiles(job)">
                    <div class="md-avatar" style="text-align: center;padding-top: 12px;" ng-class="{FAIL:job.STATUS=='F',END:job.STATUS=='E'}">
                        <i class="fa fa-desktop" style="font-size: 28px;" aria-hidden="true"></i>
                    </div>
                    <div class="md-list-item-text" layout="column">
                        <h3>IP {{ job.IP }}({{job.FTP_USER}})</h3>
                        <h4>Description test ftp</h4>
                        <p></p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <md-list class="autoScroll" style="height:500px;">
            <md-subheader class="md-no-sticky"></md-subheader>
            <md-list-item class="md-3-line " ng-repeat="jobFile in jobFiles"  > 
                <div class="md-avatar" style="text-align: center;padding-top: 12px;" ng-class="{FAIL:jobFile.STATUS=='F',END:jobFile.STATUS=='E'}">
                    <i class="fa fa-file" style="font-size: 28px;" aria-hidden="true"></i>
                </div>
                <div class="md-list-item-text" layout="column">
                    <h3>File Name {{jobFile.FULLNAME}}</h3>
                    <h4>Status {{jobFile.STATUS}}</h4>
                    <h4>Message {{jobFile.MESSAGE}}</h4>
                    <h4>Target {{jobFile.TARGETPART}}</h4>
                    <hr>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
       
    <md-dialog-actions layout="column" layout-align="end none">
        <div layout="row" layout-align="space-around center">     
            <span flex></span>
            <md-button ng-click="hide()" style="margin-right:20px;">
                CANCEL
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>