<md-dialog aria-label=""   ng-cloak> 
   
<md-dialog-content layout="row" layout-align="none" style="overflow-x:hidden;">
  <md-tabs  md-dynamic-height md-border-bottom style="min-width: 400px;">
      <md-tab label="Select By Devices">
          <ng-include src="'/views/task/listDevice.html'" layout="row" layout-align="none" flex></ng-include>
      </md-tab>
      <md-tab label="Select By Group">
          <ng-include src="'/views/task/listGroup.html'"></ng-include>       
      </md-tab>
  </md-tabs>
  <ng-include src="'/views/task/listSelectDevice.html'" style="min-width: 300px;"></ng-include>    
  <div style="background:#1abc9c;min-width:300px;">
         <div layout="column" layout-align="none" >
             <md-button class="md-raised md-primary" ngf-select="addForUpload($files)" ngf-multiple="true" flex>Select files</md-button>
             <div layout="row"  layout-align="center stretch">
                 <md-list style="overflow: auto;padding: 15px;" flex>
                     <md-list-item class="md-3-line" ng-repeat="file in uploadFileList" ng-click="">
                         <div class="md-avatar" style="text-align: center;padding-top: 12px;">
                             <i class="fa fa-upload" style="font-size: 28px;" aria-hidden="true"></i>
                         </div>
                         <div class="md-list-item-text" layout="column">
                             <h3>Name {{file.name}}</h3>
                             <h4>Size {{file.size | humanReadableFileSize}}</h4>
                             <p></p>
                         </div>
                     </md-list-item>
                 </md-list>
             </div>
         </div>
     </div>
  <div layout="column" layout-align="none" style="min-width: 350px;height:540px">
     <div>
        <ul _ngcontent-hnb-13="" class="timeline" style="list-style-type: none;margin-left:0;" flex>             
        <li _ngcontent-hnb-13="" class="md-docs-dark-theme" style="padding: 15px; background-color: rgb(66,66,66);color: #fff;">
                <div _ngcontent-hnb-13="" class="timeline-panel">
                    <div _ngcontent-hnb-13="" class="timeline-heading">
                        <h4 _ngcontent-hnb-13="" class="timeline-title" style="color: #fff;"><i style="margin-right: 15px;font-size: 20px;line-height: 24px; " class="fa fa-tasks"></i>Task</h4>
                    </div>
                    <md-content class="autoScroll" style="background-color: rgb(66,66,66);color: #fff;">
                        <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label>Name</label>
                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                            <input ng-model="task.NAME" type="text">
                            <div class="hint">Task name (required)</div>

                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label>Description</label>
                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                            <input ng-model="task.DESCRIPTION" type="text">
                            <div class="hint"></div>
                        </md-input-container>
                </div>
            </li>
        <li _ngcontent-hnb-13="" style="padding: 15px;"class="timeline-inverted">
           <div _ngcontent-hnb-13="" class="timeline-panel">
            <div _ngcontent-hnb-13="" class="timeline-heading">
              <h4 _ngcontent-hnb-13="" class="timeline-title" style=""><i style ="margin-right: 15px;font-size: 20px;line-height: 24px; "class="fa fa-tasks"></i>Destination part</h4>                           
            </div>
              <md-content class="autoScroll" style="">
                  <md-input-container class="md-icon-float md-block">
                      <label>Part</label>
                      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                      <input ng-model="task.target" type="text">
                      <div class="hint">Destination (required) ex: /c/xx</div>
                  </md-input-container> 
                  <md-input-container class="md-icon-float md-block">
                      <md-checkbox ng-model="task.hasScheduleDate" aria-label="Time schedule">
                          Time schedule (This function not alive in demo)
                      </md-checkbox>
                  </md-input-container> 
                 
                  <md-input-container class="md-icon-float md-block">
                      <md-checkbox ng-model="task.hasScheduleDate" aria-label="Time schedule">
                          Auto Re-run (This function not alive in demo)
                      </md-checkbox>
                  </md-input-container>                  

                </md-content>
            </div>
          </li>   
      </ul>           
     </div>
     <div>
     
    </div>
  </div>   
</md-dialog-content>
    <md-dialog-actions layout="column" layout-align="end none">
        <div layout="row" layout-align="space-around center">
            <md-button md-autofocus ng-click="start()">
                START
            </md-button>
            <span flex></span>

            <md-button ng-click="hide()" style="margin-right:20px;">
                CANCEL
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>