﻿#sp-hide-menu {
  display: none;
}
#sp-nav,
#sp-nav.wide {
  width: 200px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #30426a;
}
#sp-nav ul li a,
#sp-nav.wide ul li a {
  cursor: pointer;
  text-decoration: none;
  display: block;
}
#sp-nav ul .main-menu,
#sp-nav.wide ul .main-menu {
  height: 60px;
  background: #2d3e63;
  line-height: 60px;
  font-size: 18px;
}
#sp-nav ul .menu,
#sp-nav.wide ul .menu {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  width:100%;
  margin:0;
}
#sp-nav ul .menu a:hover,
#sp-nav.wide ul .menu a:hover {
  color: #3c763d;
  border-left: 3px solid #e99d1a;
  text-indent: 11px;
}

#sp-nav nav,
#sp-nav.wide nav {
  display: block;
  background: black;
  color: white;
  z-index: 5;
  height: 100%;
}
#sp-nav nav div,
#sp-nav.wide nav div {
  z-index: 5;
}
.main-navigation-bar {
  color: #fff;
  height: 60px;
  background: #00a65a;
  line-height: 60px;
}
.main-navigation-bar h1 {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 22px;
  line-height: 60px;
}
#sp-page {
  position: absolute;
  width: 100%;

  height: 100%;
  float: right;
  z-index: 10;
  transform: translateX(60px);
  transition-duration: 0.3s;
  background-color: white;
  .ui-view-container
  {
      margin-right:60px;
      height: 100%;
  } 
}
#sp-page .application {
  padding-right: 60px;
}
#sp-page .application .inner {
  padding: 0 10px 0 10px;
  background-color: #FFF;
}
#sp-nav.show,
#sp-nav.show.wide {
  left: 0px;
  overflow-x: hidden;
}
.menu-icon-main {
  float: left;
  font-size: 18px !important;
  padding-left: 20px;
  line-height: 60px !important;
  margin-right: 30px;
}
.menu-icon {
  float: left;
  font-size: 18px !important;
  padding-left: 20px;
  line-height: 40px !important;
  margin-right: 30px;
}
#sp-nav.show + #sp-page #sp-show-menu,
#sp-nav.show.wide + #sp-page #sp-show-menu {
  display: none;
}
#sp-nav.show + #sp-page #sp-hide-menu,
#sp-nav.show.wide + #sp-page #sp-hide-menu {
  display: inline;
}
#sp-nav.show + #sp-page,
#sp-nav.show.wide + #sp-page {
  position: absolute;
  transform: translateX(200px);
  transition-duration: 0.3s;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 900px) {
  #sp-nav {
    width: 250px;
  }
  #sp-nav.show + #sp-page {
    transform: translateX(250px);
  }
}