.dynamic-grid{
            position: relative;
            display: none;
        }

        .dynamic-grid.angular-grid{
            display: block;
        }

        .grid {
            border: 1px solid #cccccc;
            position: absolute;
            list-style: none;
            background: #ffffff;
            box-sizing: border-box;
            -moz-box-sizing : border-box;
            -webkit-transition: all 0.6s ease-out;
            transition: all 0.6s ease-out;
            overflow: hidden;
        }
        .grid-img {
            width: 100%;
            vertical-align: middle;
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
        }

        .grid-img.img-loaded{
            visibility: visible;
            opacity: 1;
        }


.taskmanagement{
    ul{
       li md-card{
           
        }
        
    }
}
.END{
    color :#4CAF50;
}
.FAIL{
      color :#FF5722;
}
.RERUN{
   
    color :#FF9800;
}
.PROCESS{
    
      color :#01579b;
}
.NEW{
     color :#26c6da;
}
 .filterSelect{
     background-color: rgba(158,158,158,0.2);

 }
 .E{
     md-card md-card-header{
         background-color:#4CAF50;
         color :white;
     }
     
   }
 .F{
      md-card md-card-header{
         background-color:#FF5722;
         color :white;
      }
   }
.R{
      md-card md-card-header{
         background-color:#FF9800;
         color :white;
      }
   }
 .P{
      md-card md-card-header{
        background-color:#01579b;
      }
   }
 .N{
      md-card md-card-header{
         background-color:#26c6da;
         }
   }