.monitoringTable {
    
    md-toolbar {
        margin: 0;

        .md-toolbar-tools {
        color: #fff;
        }

        md-toolbar-tools {
            color: #fff;
        }
    }

    .groupBar {
        background-color: #fff;
        box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.26);
        opacity: 0.9;
        color: white;
        text-align: center;
        margin-left: 0;
        margin-right: 0;

        .md-button {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 0;
        }

        .group {
            color: #000;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 3px;
            padding: 10px 0;

            .groupBody {
                border-right: solid 1px #DDDDDD;
                padding: 0 10px;
            }

            i {
                font-size: 60px;
                color: #77C159;
            }

            .number {
                text-align: start;
                font-size: 30px;
                float: left;
            }

            .groupName {
                float: left;
            }

            md-progress-circular {
                padding: 10px;
            }

            .information {
            }
        }
    }
}
