.virtualization {
    .filterMenu {
        background-color: #009688;
        box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.26);
        opacity: 0.9;
        color: white;
        text-align: center;
        height: 100px;

        .selectdemoSelectHeader {
            /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
        }

        .selectdemoSelectHeader .demo-header-searchbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            padding: 0;
        }

        .selectdemoSelectHeader .demo-select-header {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
            padding-left: 10.667px;
            height: 48px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
        }

        .selectdemoSelectHeader md-content._md {
            max-height: 240px;
        }

        div {

            div {
                i {
                    font-size: 27px;
                    float: left;
                }

                font-size: 27px;
                line-height: 27px;
            }

            md-select {
                display: flex;
                margin: 10px 0 26px 0;

                div {
                font-size: 17px;
                
                }
            }
        }
    }
}
