﻿<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
        Contact <span class="name">{{ cp.user.name }}</span>:
    </md-subheader>

    <md-list>
        <md-item ng-repeat="item in cp.actions">
            <md-button ng-click="cp.contactUser(item)" id="item_{{$index}}">
                <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
                {{item.name}}
            </md-button>
        </md-item>
    </md-list>

</md-bottom-sheet>