﻿<div class="ui-base">
    <div id="sp-nav">
        <div class="topcoat-list-container">

            <ul class="topcoat-list">
                <li class="main-menu">
                    <a ng-click="toggle()">
                        <i class="fa fa-tasks menu-icon" style="padding-top: 10px;"></i>
                        Menu
                    </a>
                </li>
                <!-- hidden
                <li class="menu"><a ui-sref="base.application.dashboard" url><i class="fa fa-tachometer menu-icon"></i>Dashboard</a></li>
                <li class="menu"><a ui-sref="base.application.overview"><i class="fa fa-map-marker menu-icon"></i>GEO Virtualization</a></li>
                <li class="menu"><a ui-sref="base.application.overview" url="#/overview"><i class="fa fa-history menu-icon"></i>Time line</a></li>
                <li class="menu"><a ui-sref="base.application.testChart1" ><i class="fa fa-history menu-icon"></i>testChart1</a></li>
                <li class="menu"><a ui-sref="base.application.virtualization"><i class="fa fa-area-chart menu-icon"></i>Virualization</a></li>          
                <li class="menu"><a ui-sref="base.application.SingleFTP"><i class="fa fa-folder-open menu-icon"></i>Single FTP</a></li>
                <li class="menu"><a ui-sref="base.application.user"><i class="fa fa-users menu-icon"></i>Users management</a></li>               
                
                -->                               
                <li class="menu"><a ui-sref="base.application.monitoringGroup" ><i class="fa fa-area-chart menu-icon"></i>Monitoring Group</a></li>
                <li class="menu"><a ui-sref="base.application.FTP"><i class="fa fa-file menu-icon"></i>FTP Management</a></li>

                <li class="menu"><a ui-sref="base.application.task" ><i class="fa fa-tasks menu-icon"></i>Task Management</a></li>
                
                <!--

                <li class="menu"><i class="fa fa-history menu-icon"></i>testChart1</li>
                <li class="menu"><i class="fa fa-area-chart menu-icon"></i>Virualization</li>          
                <li class="menu"><i class="fa fa-tasks menu-icon"></i>FTP Management</li>
                <li class="menu"><i class="fa fa-folder-open menu-icon"></i>Single FTP</li>
                <li class="menu"><i class="fa fa-users menu-icon"></i>Users management</li>
                -->
               </ul>
        </div>
    </div>
    <div id="sp-page">
        <div ui-view class="ui-view-container" style="overflow-y: auto;"></div>
    </div>
</div>